body{
	background-color: #DDDDDD;
	width: 700px;
	margin: 50px auto 50px auto;
}
hr{
	width: 710px;
	margin-bottom: 30px;
}
div{
	width: 50px;
	height: 50px;
	background-color: #F4EEEE;
	border-bottom-width: medium;
	border-bottom-color: #737272;
	margin: 0 7px 0 7px;
	font-size: 20px;
	padding: 35px 0px 0px 35px;
	color: #D6D0D0;

	float: left;
}
p{
	clear: both;
	margin-bottom: 20px;
}
h1{
	font-size: 50px;
	margin-bottom: 15px;
	font-weight: bold;
}
h2{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
.red{
	background-color: red;
	color: #8F0404;
}